<div>
  <div ng-transclude></div>
  <h3 ng-if="!profile.$resolved" class="loading-inline-spinner loading-dark loading-left loading-light"
      ng-class="{loading: !profile.$resolved}">
      Loading Details <small>please wait...</small>
  </h3>

  <dl ng-if="profile.$resolved" class="dl-horizontal">
      <dt>Name</dt>
      <dd>{{profile.name}}</dd>
      <dt>Description</dt>
      <dd>{{profile.description || 'None'}}</dd>
      <dt>Created</dt>
      <dd>{{profile.creationDate | date : 'fullDate' }}</dd>
      <dt>Owner</dt>
      <dd>{{profile.ownerName || 'Unknown' }}</dd>
      <dt>Public</dt>
      <dd ng-if="profile.isPublic">
          yes
      </dd>
      <dd ng-if="!profile.isPublic">
          no
      </dd>
      <dt>Visible Stick Assets</dt>
      <dd>
          {{eventLayerInfo('stickVisible', profile)}}
      </dd>
      <dt>Visible Bar Assets</dt>
      <dd>
          {{eventLayerInfo('barVisible', profile)}}
      </dd>
      <dt>Styled Assets</dt>
      <dd>
          {{eventLayerInfo('drawingInfo', profile)}}
      </dd>
      <dt>Field Configuration</dt>
      <dd>
          {{eventLayerInfo('fields', profile)}}
      </dd>
  </dl>
</div>
