<div>
  <form name="lrs-form" class="navbar-form navbar-left navbar-form-condensed">
    <div class="form-group">
      <search-box search="search.filter"></search-box>
    </div>
    <div class="form-group">
      &nbsp;|&nbsp;
      <a href="" ng-click="onCancelChanges()"><i class="glyphicon glyphicon-trash"></i> Cancel Changes</a>
      &nbsp;|&nbsp;
      <a href="" ng-click="onRefresh()"><i class="glyphicon glyphicon-retweet"></i> Refresh List</a>
    </div>
  </form>
  <form class="navbar-form navbar-left navbar-form-condensed pull-right hidden-xs hidden-sm">
    <div class="form-group" ng-transclude>
    </div>
  </form>
</div>
