<div>
  <lrs-profile-navbar profiles="selection" search="search" on-cancel-changes="reset()" on-refresh="reload()" ng-hide="showDetails">
      <div ng-if="dirty()" class="change-tracker">
          <span class="label label-success">{{changes.adds.length}} New</span>&nbsp;
          <span class="label label-warning">{{changes.updates.length}} Updated</span>&nbsp;
          <span class="label label-danger">{{changes.removes.length}} Deleted</span>
      </div>
  </lrs-profile-navbar>
  <br/>
  <div ng-if="!profiles.$resolved">
      <h1 class="loading-inline-spinner loading-left loading">Loading Templates <small>Please wait...</small></h1>
  </div>

  <div ng-if="profiles.$resolved && !profiles.length">
      <h1><i class="glyphicon glyphicon-ban-circle"></i> No Templates Available</h1>
  </div>

  <table class="table table-condensed table-striped table-hover" ng-if="!showDetails && profiles.$resolved && profiles.length">
      <thead>
      <tr>
          <th></th>
          <th>Name</th>
          <th>Created</th>
          <th>Owner</th>
          <th>Is Public</th>
          <th></th>
          <th></th>
          <th></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="pro in profiles | orderBy:name | filter:search.filter" class="repeated-item" ng-class="{warning:pro.$state=='update', success:pro.$state=='add', selected:pro.id==profile.id}">
          <td ng-click="select(pro)">
              <i class="glyphicon" ng-class="{'glyphicon-check':pro.id==profile.id, 'glyphicon-unchecked':pro.id!=profile.id}"></i>
          </td>
          <td ng-click="select(pro)" class="clicky">
              {{pro.name}}
          </td>
          <td ng-click="select(pro)" class="clicky">{{pro.creationDate | date : 'MM/dd/yyyy @ h:mma' }}</td>
          <td ng-click="select(pro)" class="clicky">{{pro.ownerName || 'Unknown'}}</td>
          <td class="text-center">
              <input type="checkbox" pre-change="update(pro)" ng-model="pro.isPublic" ng-disabled="!editable({profile: pro})"/>
          </td>
          <td>
              <a href="" ng-click="details(pro);" tooltip="{{pro.description}}" tooltip-placement="left"><i class="glyphicon glyphicon-list-alt"></i> Details</a>
          </td>
          <td>
              <a href="" ng-if="editable({profile: pro})" ng-click="select();remove(pro);"><i class="glyphicon glyphicon-remove"></i> Delete</a>
          </td>
      </tr>
      </tbody>
  </table>

  <lrs-profile-details ng-if="showDetails" profile="profile">
      <a href="" ng-click="details()"><i class="glyphicon glyphicon-arrow-left"></i> Back to List</a>
  </lrs-profile-details>
</div>

